body {
    height:100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

html, body, #titleBanner {
    height: 5%;
    width: 100%;
    background-color: lightpink;
    position: absolute;
    left: 0px;
}

html, body, #sideBar {
    height: 93%;
    width: 5%;
    position: absolute;
    top: 5%;
    background-color: MistyRose;
}

html, body, #viewDiv {
    height: 93%;
    width: 95%;
    position: absolute;
    top: 5%;
    left: 5%;
}

#copyright {
  color: "black";
  background-color: "white";
  height: 2%;
  width: 100%;
  margin: 0px;
  text-align: center;
  position: absolute;
  top: 98%;
  right: 0;
  margin: 10px;
  padding: 5px;
  z-index: 500;
  font-size: 14px;
  font-family: "Arial";
}

/*.shadow {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}*/
#bufferDiv {
  background-color: dimgray;
  color: white;
  padding: 10px;
  width: 300px;
  height: 80px;
  position: absolute;
  bottom: 135px;
  right: 15px;
}

#optionsDiv {
  background-color: dimgray;
  color: white;
  padding: 10px;
  width: 300px;
  height: 95px;
}
.esri-popup .esri-popup-header .esri-title {
  font-size: 18px;
  font-weight: bolder;
}
.esri-popup .esri-popup-body  .esri-popup-content {
  font-size: 14px;
}


#timeSliderDiv {
  position: absolute;
  bottom: 50px;
}

/* drop-down menun */
.dropdown {
  background-color: MistyRose;
  position: absolute;
  width: 150px;
  height: 50px;
  text-align: center;
  right: 10px;
  top: 10px;
  display: inline-block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 500;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  text-align: left;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 10px;
  z-index: 500;
}

.dropdown:hover{
  background-color: lightpink;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: MistyRose;
}
