body {
    padding: 0;
    margin: 0;
}

html, body, #titleBanner {
    height: 5%;
    width: 100%;
}

html, body, #sideBar {
    height: 95%;
    width: 5%;
    position: absolute;
    top: 5%;
}

html, body, #viewDiv {
    height: 95%;
    width: 95%;
    position: absolute;
    top: 5%;
    left: 5%;
}

#optionsDiv {
  background-color: dimgray;
  color: white;
  padding: 10px;
  width: 350px;
}
.esri-popup .esri-popup-header .esri-title {
  font-size: 18px;
  font-weight: bolder;
}
.esri-popup .esri-popup-body  .esri-popup-content {
  font-size: 14px;
}



/* drop-down menun */
.dropdown {
  background-color: MistyRose;
  position: absolute;
  width: 150px;
  height: 50px;
  text-align: center;
  right: 10px;
  top: 10px;
  display: inline-block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 500;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  text-align: left;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 10px;
  z-index: 500;
}

.dropdown:hover{
  background-color: lightpink;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: MistyRose;
}
